/* styles.css */

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

/* Header styling */
h2, h4 {
    margin-top: 0;
    color: #hhh;
}

/* List styling */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Link styling */
a {
    color: #007bff;
    text-decoration: none;
    word-wrap: break-word;
    display: block;
}

a:hover {
    text-decoration: underline;
}

/* Popup button container styling */
.popup-buttons {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

/* Close button styling */
#closeButton {
    background-color: #ff461e;
}

#closeButton:hover {
    background-color: #cb2400;
}

/* Open SDS button styling */
#openAllButton {
    background-color: #28b463;
}

#openAllButton:hover {
    background-color: #186a3b;
}

/* General button styling */
.popup-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.popup-buttons button:hover {
    background-color: #0056b3;
}

/* Fixed button styling */
button {
    position: fixed;
    bottom: 20px;
    right: 50%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

button:hover {
    background-color: #0056b3;
}
